/* 
    Created on : 03 Jun 2016, 1:18:33 PM
    Author     : David John Tennant - dev@homecloudsolutions.co.za | davidjohntennantwork@gmail.com - Home Cloud
*/

.lead_group {
    margin:0 auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 8px 15px;
}

.tab {
    border-top:solid;
    border-right:solid;
    border-top-right-radius: 10px;
}

.tab:first-child {
    border-left:solid;
}

.lead_tabs {
    margin-bottom:15px;
}

.lead_group .ui-block-a {
    width:75%;
}

.lead_group .ui-block-b {
    width:25%;
}

.lead_group {
    margin-bottom:10px;
}

/*Data Table Styling*/
#leads th {
    font-size: 12px;
}

#leads td { 
    font-size: 11px;
}

#leads tbody tr {
    line-height:.46em;
}

#leads label {
    font-size:12px;
}

.dataTables_info, .dataTables_paginate {
    font-size:15px;
    line-height:.46em;
}