/* 
    Created on : 03 Jun 2016, 1:18:33 PM
    Author     : David John Tennant - dev@homecloudsolutions.co.za | davidjohntennantwork@gmail.com - Home Cloud
*/

/*Leads CSS */

.lead_group {
    margin:0 auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 8px 15px;
}

.tab {
    border-top:solid;
    border-right:solid;
    border-top-right-radius: 10px;
}

.tab:first-child {
    border-left:solid;
}

.lead_tabs {
    margin-bottom:15px;
}

.lead_group .ui-block-a {
    width:75%;
}

.lead_group .ui-block-b {
    width:25%;
}

.lead_group {
    margin-bottom:10px;
}

/*Data Table Styling*/
#leads th {
    font-size: 12px;
}

#leads td { 
    font-size: 11px;
}

#leads tbody tr {
    line-height:1em;
}

#leads label {
    font-size:12px;
}

.dataTables_info, .dataTables_paginate {
    font-size:15px;
    line-height:1em;
}

#leads {
    max-height:300px
}

@font-face {
    font-family: 'FontAwesome'; /*a name to be used later*/
    src: url('../fonts/FontAwesome.otf'); /*URL to font*/
}

td.details-control {
    position: relative;
}

tbody td.details-control:before {
    cursor: pointer;
    content: "\f0da";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;

    /*    color: #000;
        font-size: 18px;
        padding-right: 0.5em;
        position: absolute;
        top: 10px;
        left: 0;*/
}

tbody tr.hidden .details-control:before {
    cursor: pointer;
    content: "\f0da";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;

    /*    color: #000;
        font-size: 18px;
        padding-right: 0.5em;
        position: absolute;
        top: 10px;
        left: 0;*/
}

tbody tr.shown td.details-control:before {

    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;

    /*    color: #000;
        font-size: 18px;
        padding-right: 0.5em;
        position: absolute;
        top: 10px;
        left: 0;*/
}

#leads .ui-popup-container,#leads .ui-popup {
    height: 98%;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
}

#new_lead {
    overflow-y: scroll;
}


/*Pop Up - New Lead*/

.popup_container {
    padding: 5px 15px;
}

#datepicker {
    margin: 0 auto;
}

#leads_table {
}


/*Toolbar Fix*/

#leads div.ui-content {
    margin-bottom: 56px;
}


/*Unsed Error Fixing*/

.panelChild,.footerChild,.headerChild, .header_title, .panelMaster {

}

body {
    position:relative;
}

.ui-loader {
    z-index: 9999;
    background:white;
}

#leads_table_wrapper{
    display:none;
}

.dataTables{
    display:none;
}

#pop_call_menu ul,#pop_sms_menu ul {
    text-decoration:none;
    list-style-type: none;
}

#full_lead ui-content h1,#full_lead ui-content h2,#full_lead ui-content h3,#full_lead ui-content h4,#full_lead ui-content h5,#full_lead ui-content h6 {
    margin:10px 0;
}

#full_lead div.ui-block-b {
    overflow-x:scroll;
}